  
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Application Trust
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Application Trust is disabled -->
  <ion-card *ngIf="isDisabled()">
    <ion-card-header>
      <ion-card-title>Application Trust not configured</ion-card-title>
      <ion-card-subtitle>Mobile Security service required</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Application Trust page cannot be displayed.
      Please enable the Security SDK by providing configuration pointing to your Mobile Security Service
      as outlined in <a href="https://www.aerogear.org/aerogear/latest/app-security/#setup">Setting up Application Trust</a>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!isDisabled()">
    <ion-card-header>
      <ion-card-title>Access the Mobile Security Service</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <a href="{{serverUrl.url}}">Mobile Security Service</a>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!isDisabled()">
    <ion-card-header>
      <ion-card-title>Disable Application</ion-card-title>
    </ion-card-header>
    <ion-card-content>In the Mobile Security Service disable the following Application:
      <br />
      <ion-text color="primary">
        org.aerogear.ionic.showcase
      </ion-text>
      <br /><br />
      For usage Information visit:
      <br />
      <a href="https://www.aerogear.org/aerogear/latest/app-security/#monitoring">Application Trust Documentation</a>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!isDisabled()">
    <ion-card-header>
      <ion-card-title>Application Security Status </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button size="default" (click)="this.clientInit()">
        Check the Security Service
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>